.face__img {
    box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
    background-color: #b4b4b4;
    padding: 7px;
    border-radius: 2px;
}

@media only screen and (max-width: 650px) {
    .face__img {
        width: 300px;
    }
}

@media only screen and (max-width: 375px) {
    .face__img {
        width: 150px;
        margin-left: 15px;


    }
}

